.compre-ja {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  align-items: center;
}

.compre-ja .capa-jogo {
  width: 270px;
}

.compre-ja .titulo {
  font-family: "ChaletComprime";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.compre-ja .cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  width: 50%;
  border-radius: 10px;
  padding: 80px;
  gap: 40px;
}

.compre-ja .informacoes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.compre-ja .informacoes h3 {
  font-family: "ChaletComprime";
  font-size: 52px;
  font-weight: 700;
}

.compre-ja .informacoes p {
  color: #e8e8e8;
  font-family: "Chalet";
  font-size: 16px;
  line-height: 1.6;
}

.compre-ja .informacoes .plataformas {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.compre-ja .btn-plataforma .plataformas {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease-in;
  display: none;
  opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
  display: flex;
  opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li {
  padding: 20px;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1) {
  border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1):hover {
  background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2) {
  border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2):hover {
  background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
  border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3):hover {
  background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
  border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4):hover {
  background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
  border: 1px solid #facf17;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5):hover {
  background-color: #facf17;
}

@media (max-width: 1024px) {
  .compre-ja .cartao {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .compre-ja {
    padding: 30px;
  }
  .compre-ja .cartao {
    padding: 80px 20px;
    width: 100%;
  }
  .compre-ja .informacoes h3 {
    font-size: 35px;
  }
  .compre-ja .informacoes .plataformas {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .compre-ja .cartao .capa-do-jogo {
    max-width: 80%;
  }
}
