.btn-comprar,
.btn-plataforma {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 4px;
  font-family: "ChaletComprime";
  font-size: 28px;
  text-align: center;
  padding: 20px 40px;
  text-transform: uppercase;
  width: 50%;
  transition: all, 0.3s ease-in;
}

.btn-comprar:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-plataforma {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn-plataforma {
    margin-top: 15px;
    padding: 15px;
  }
  .btn-comprar {
    width: 100%;
  }
}
